<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shsxt.dao.ModuleDao">
	<sql id="Module_Columns">
		id,module_name,module_style,url,parent_id,grade,orders,tree_path,
		create_date,update_date,is_valid,opt_value
	</sql>

	<select id="findByModuleName" resultType="module">
		select
		<include refid="Module_Columns" />
		from t_module
		<where>
			is_valid=1 and module_name=#{moduleName} and parent_id=#{parentId}
		</where>
	</select>

	<select id="findByOptValue" resultType="module">
		select
		<include refid="Module_Columns" />
		from t_module
		<where>
			is_valid=1 and opt_value=#{optValue}
		</where>
	</select>

	<select id="findById" resultType="module">
		select
		<include refid="Module_Columns" />
		from t_module
		<where>
			is_valid=1 and id=#{id}
		</where>
	</select>

	<insert id="insert">
		insert into t_module
		(module_name,module_style,url,parent_id,grade,orders,tree_path,
		create_date,update_date,is_valid,opt_value) values
		(#{moduleName},#{moduleStyle},#{url},#{parentId},#{grade},
		#{orders},#{treePath},#{createDate},#{updateDate},#{isValid},#{optValue})
	</insert>

	<update id="update">
		update t_module
		<set>
			<if test="@Ognl@isNotEmpty(moduleName)">
				module_name=#{moduleName},
			</if>
			<if test="@Ognl@isNotEmpty(moduleStyle)">
				module_style=#{moduleStyle},
			</if>
			<if test="@Ognl@isNotEmpty(url)">
				url=#{url},
			</if>
			<if test="@Ognl@isNotEmpty(parentId)">
				parent_id=#{parentId},
			</if>
			<if test="@Ognl@isNotEmpty(grade)">
				grade=#{grade},
			</if>
			<if test="@Ognl@isNotEmpty(orders)">
				orders=#{orders},
			</if>
			<if test="@Ognl@isNotEmpty(treePath)">
				tree_path=#{treePath},
			</if>
			<if test="@Ognl@isNotEmpty(optValue)">
				opt_value=#{optValue},
			</if>
			
			update_date=#{updateDate}
		</set>
		where id = #{id}
	</update>
	
	<update id="deleteBatch">
	update t_module set is_valid=0,update_date=now() where id in(${ids})
	</update>
	
	<select id="findAll" resultType="com.shsxt.vo.ModuleVO">
	select id,module_name,parent_id from t_module where is_valid=1 order by parent_id,orders
	</select>
</mapper>