<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shsxt.dao.UserDao">
	<sql id="User_Columns">
		id,user_name,password,true_name,email,phone,is_valid,create_date,update_date
	</sql>
	<sql id="User_Columns_Join">
		t1.id,t1.user_name,t1.password,t1.true_name,t1.phone,t1.is_valid,
		t1.create_date,t1.update_date
	</sql>
	<resultMap type="User" id="UserResult">
		<result property="id" column="id" />
		<result property="userName" column="user_name" />
		<result property="password" column="password" />
		<result property="trueName" column="true_name" />
		<result property="email" column="email" />
		<result property="phone" column="phone" />
		<result property="isValid" column="is_valid" />
		<result property="createDate" column="create_date" />
		<result property="updateDate" column="update_date" />
		<collection property="roles" ofType="com.shsxt.vo.RoleVO">
			<result property="id" column="rid" />
			<result property="roleName" column="role_name" />
		</collection>
	</resultMap>
	<select id="selectForPage" resultMap="UserResult">
		select
		<include refid="User_Columns_Join" />,t3.id as rid,t3.role_name
		from t_user t1 left join t_user_role t2 on t1.id=t2.user_id
		left join t_role t3 on t3.id=t2.role_id
		where t1.is_valid=1 and t3.is_valid=1
		<if test="@Ognl@isNotEmpty(userName)">
			and user_name like '%${userName}%'
		</if>
	</select>
</mapper>